header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: #0009;
    backdrop-filter: blur(1.2px);
}
.links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15%;
    width: 30vw;
}
.links-container a{
    color: #fff;
    text-decoration: none;
}
.image-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.logo{
    height: 90px;
}

@media (max-width: 768px){
    header{
        width: 100vw;
        align-items: center;
        position: fixed;
    }
    .links-container{
        display: none;
    }
}