.sessao2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5% 0;
    gap: 10vh;
}
.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title h5{
    width: 70%;
    text-align: center;
}

.project{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
}
.site-image{
    height: 50%;
    width: 40%;
    transition: all .7s;
}
.site-image:hover{
    box-shadow: rgba(0, 0, 0, .3) -8px 8px 15px;
}
.site-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site-text h5{
    width: 50%;
    text-align: center;
}

.project-right{
    display: flex;
    flex-direction: row;
    padding-right: 10%;
}
.site-image-right{
    height: 50%;
    width: 40%;
    transition: all .7s;
}
.site-image-right:hover{
    box-shadow: rgba(0, 0, 0, .3) 0 8px 15px;
}
.site-text-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site-text-right h5{
    width: 50%;
    text-align: center;
}