.sessao3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5% 0;
    gap: 10vh;
    background-image: url(../../img/background/section1-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, .5) 0 -8px 15px; 
    transition: all .5s;
}
.sessao3.dark{
    background-image: url(../../img/background/dark-bg.svg);
    box-shadow: rgba(0, 0, 0) 0 0 0;
}

.main-text-contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.social-links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
}
.links{
    text-decoration: none;
}
.link-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
    gap: 10%;
}
.link-button i{
    font-size: 3rem;
}
@media (max-width:768px){
    .sessao3{
        gap: 2vh;
    }
    .main-text-contact{
        text-align: center;
    }
    .social-links-container{
        flex-direction: column;
        gap: 10px;
    }
}